@{
    ViewData["Title"] = "Home Page";
}

<style>
    #hrthickafboi {
        height: 1px;
        background: #D3D3D3;
    }
    </style>

<div class="text-center">
    <h1 class="display-4">Welcome to W.A.F.E.M</h1>
    <H3>(Web Application For Employee Management)</H3>
</div>
<center>Main Suporter/Contributor<img src="./lib/treedev.jpg" alt="neo" width="200" height="70" /></center>
<center><img src="./lib/spnsb.jpg" alt="" width="100" /></center>
<hr id="hrthickafboi"/>
<div class="row">
    <img src="./lib/initova.png" alt="neo" width="200" height="55" />
    <img src="./lib/bambus.png" alt="Bambus" width="170" height="100" />
    <img src="./lib/butterflly.png" alt="Flutura Academy Logo" width="320" height="160" />
    <img src="./lib/neo.jpg" alt="neo" width="100" height="100" />
    <img src="./lib/taktika.png" alt="neo" width="100" height="100" />
    <img src="./lib/treedev.jpg" alt="neo" width="200" height="70" />
</div>

