@{
    ViewData["Title"] = "Terms And Conditions";
}
<h1>@ViewData["Title"]</h1>

<p>The developer (Blendi Ferizi) Clarifies that the "posts" given to certain administrators, if abused for personal or non-personal reason will result in a law-suit. </p>
<h3>Read through the terms and conditons to make sure you dont make any mistakes.</h3>
<p>Links to third party websites lie outside the scope of responsibility of the Federal Authorities. Access and use of such websites occurs entirely at the user’s own risk. The Federal Authorities expressly state that they have no influence whatsoever over the content of any linked site. Responsibility for information and services of linked sites rests entirely with the relevant third parties.</p>
<p>Cookies are used on various Federal Administration websites in order to make visiting the website attractive and to allow certain functions to be used. Cookies are small text files that are stored on your computer. Most of the cookies used (session cookies) are deleted from your hard disk at the end of the browser session. Other cookies remain on your computer and enable you to be recognised again when you make your next visit (permanent cookies).You can stop cookies from being stored on your browser by restricting or deactivating the storage and reading of cookies. Please note that you will not be able to use certain functions of the website without enabling cookies.</p>



<h5>Your rights!</h5>
<p>
    You have the right to request information on the processing of your personal data by any unit of the Federal Administration at any time free of charge. Contact the office named in the printer’s imprint (Impressum). You may have further statutory rights, such as the right to have data erased or corrected, to have data processing restricted and to have data transmitted.

    Collecting data in order to provide the website and storing data in log files is absolutely essential to the operation of our website. As a result, users of our website have no right to object in this respect.
</p>





